<p id="notice"><%= notice %></p>

<p>
  <b>Uid:</b>
  <%= @shop.uid %>
</p>

<p>
  <b>Category:</b>
  <%= @shop.category %>
</p>

<p>
  <b>Name:</b>
  <%= @shop.name %>
</p>

<p>
  <b>Address:</b>
  <%= @shop.address %>
</p>

<p>
  <b>Tel:</b>
  <%= @shop.tel %>
</p>

<p>
  <b>Access:</b>
  <%= @shop.access %>
</p>

<p>
  <b>Business hours:</b>
  <%= @shop.business_hours %>
</p>

<p>
  <b>Holiday:</b>
  <%= @shop.holiday %>
</p>

<p>
  <b>Lat:</b>
  <%= @shop.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @shop.lng %>
</p>

<p>
  <b>Pc url:</b>
  <%= @shop.pc_url %>
</p>

<p>
  <b>Mobile url:</b>
  <%= @shop.mobile_url %>
</p>

<p>
  <b>Column01:</b>
  <%= @shop.column01 %>
</p>

<p>
  <b>Column02:</b>
  <%= @shop.column02 %>
</p>

<p>
  <b>Column03:</b>
  <%= @shop.column03 %>
</p>

<p>
  <b>Column04:</b>
  <%= @shop.column04 %>
</p>

<p>
  <b>Column05:</b>
  <%= @shop.column05 %>
</p>


<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
